<div class="card">
  <div class="card-header bordered">
    <div class="header-block">
      <h3 class="title">Добавить категорию</h3>
    </div>
  </div>
  <div class="card-block">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div
        class="form-group"
        [ngClass]="{ 'has-error': name.invalid && name.touched }"
      >
        <label class="control-label" for="add-category-name"
          >Введите название</label
        >
        <input
          type="text"
          id="add-category-name"
          class="form-control"
          #name="ngModel"
          name="name"
          ngModel
          required
        />
        <span class="form-help-text" *ngIf="name.invalid && name.touched"
          >Поле не может быть пустым</span
        >
      </div>
      <div
        class="form-group"
        [ngClass]="{ 'has-error': capacity.invalid && capacity.touched }"
      >
        <label class="control-label" for="add-category-value"
          >Введите лимит</label
        >
        <input
          (keydown.-)="preventMinus()"
          type="number"
          id="add-category-value"
          class="form-control"
          #capacity="ngModel"
          name="capacity"
          [ngModel]="1"
          required
          min="1"
        />
        <span
          class="form-help-text"
          *ngIf="capacity.invalid && capacity.touched"
          >Поле не может быть пустым</span
        >
      </div>
      <button [disabled]="form.invalid" type="submit" class="btn btn-primary">Добавить</button>
    </form>
  </div>
</div>
