<div class="main-wrapper">
  <div class="app">
    <!--HEADER-->
    <mt-header></mt-header>
    <!--HEADER-->
    <!--SIDEBAR-->
    <mt-sidebar></mt-sidebar>
    <!--SIDEBAR-->
    <!--CONTENT-->
    <article class="content dashboard-page">
      <router-outlet></router-outlet>
    </article>
    <!--CONTENT-->
  </div>
</div>
