<div class="modal fade in">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" (click)="closeModal()">
          <span>×</span>
        </button>
        <h4 class="modal-title">Фильтр</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label class="control-label" for="period">Выберите период</label>
          <select class="form-control" id="period" [(ngModel)]="selectedPeriod">
            <option *ngFor="let option of timePeriods" [value]="option.type">{{
              option.label
            }}</option>
          </select>
        </div>
        <div class="form-group">
          <label class="control-label">Выберите тип события</label>
          <div>
            <label *ngFor="let type of types">
              <input
                class="checkbox"
                type="checkbox"
                [value]="type.type"
                (change)="handleChangeType($event.target)"
              />
              <span>{{ type.label }}</span>
            </label>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label">Выберите категории</label>
          <div>
            <label *ngFor="let category of categories">
              <input
                class="checkbox"
                type="checkbox"
                [value]="category.id"
                (change)="handleChangeCategory($event.target)"
              />
              <span>{{ category.name }}</span>
            </label>
          </div>
        </div>
        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            (click)="closeModal()"
          >
            Отмена
          </button>
          <button type="button" class="btn btn-primary" (click)="applyFilters()">
            Применить
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
