<div *ngIf="isLoading; else content" class="row text-center">Loading...</div>
<ng-template #content>
  <div class="title-block">
    <h3 class="title">
      <a [routerLink]="['..']"><i class="fa fa-arrow-left"></i></a>
      Страница записи № {{ mtEvent.id }}
      <span class="sparkline bar"></span>
    </h3>
  </div>
  <section class="section">
    <div class="row">
      <div class="col-xs-6 col-xs-offset-3">
        <div class="card card-success" [ngClass]="getMtEventCssClass()">
          <div class="card-header">
            <div class="header-block">
              <p class="title">
                <span *ngIf="isMtEventTypeIncome">Доход</span>
                <span *ngIf="isMtEventTypeOutcome">Расход </span>
              </p>
            </div>
          </div>
          <div class="card-block">
            <ul>
              <li>
                Сумма: <strong>{{ mtEvent.amount }}</strong>
              </li>
              <li>
                Категория: <strong>{{ category.name }}</strong>
              </li>
              <li>
                Описание: <strong>{{ mtEvent.description }}</strong>
              </li>
            </ul>
          </div>
          <div class="card-footer">{{ mtEvent.date }}</div>
        </div>
      </div>
    </div>
  </section>
</ng-template>
