<div class="title-block">
  <h3 class="title pull-left">
    Страница счета <span class="sparkline bar"></span>
  </h3>
  <div class="pull-right">
    <button class="btn-sm btn btn-primary-outline" (click)="reload()">
      <i class="fa fa-refresh"></i>
    </button>
  </div>
</div>
<section class="section">
  <div class="row" *ngIf="isLoaded; else loading">
    <mt-bill-card [bill]="bill" [currency]="currency"></mt-bill-card>
    <mt-currency-card [currency]="currency"></mt-currency-card>
  </div>
  <ng-template #loading>
    <div class="row text-center"><mt-content-loader></mt-content-loader></div>
  </ng-template>
</section>
