<div class="card">
  <div class="card-header bordered">
    <div class="header-block">
      <h3 class="title">Добавить событие</h3>
    </div>
  </div>
  <div class="card-block">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="form-group">
        <label class="control-label" for="category">Выберите категорию</label>
        <select
          class="form-control"
          id="category"
          required
          [ngModel]="1"
          name="category"
        >
          <option *ngFor="let category of categories" [value]="category.id">{{
            category.name
          }}</option>
        </select>
      </div>
      <div class="form-group">
        <label class="control-label">Выберите тип</label>
        <div>
          <label>
            <input
              class="radio"
              name="eventType"
              type="radio"
              required
              [value]="mtEventTypes.OUTCOME"
              [ngModel]="mtEventTypes.OUTCOME"
            />
            <span>Расход</span>
          </label>
        </div>
        <div>
          <label>
            <input
              class="radio"
              name="eventType"
              type="radio"
              required
              [value]="mtEventTypes.INCOME"
              [ngModel]="mtEventTypes.OUTCOME"
            />
            <span>Доход</span>
          </label>
        </div>
      </div>
      <div
        class="form-group"
        [ngClass]="{ 'has-error': amount.invalid && amount.touched }"
      >
        <label class="control-label" for="amount">Введите сумму</label>
        <input
          (keydown.-)="preventMinus()"
          type="number"
          id="amount"
          class="form-control"
          name="amount"
          [ngModel]="1"
          min="1"
          #amount="ngModel"
          required
        />
        <span class="form-help-text" *ngIf="amount.invalid && amount.touched">
          Поле обязательно для заполнения
        </span>
      </div>
      <div
        class="form-group"
        [ngClass]="{ 'has-error': description.invalid && description.touched }"
      >
        <label class="control-label" for="description">Введите описание</label>
        <textarea
          type="text"
          id="description"
          class="form-control"
          name="description"
          ngModel
          #description="ngModel"
          required
          rows="3"
          style="resize: none"
        ></textarea>
        <span
          class="form-help-text"
          *ngIf="description.invalid && description.touched"
        >
          Поле обязательно для заполнения
        </span>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="form.invalid">
        Добавить
      </button>
    </form>
  </div>
</div>
