<section class="section">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header bordered">
          <div class="header-block">
            <h3 class="title">Список событий</h3>
          </div>
          <div class="form-inline pull-right m-r-2">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                [placeholder]="searchPlaceholder"
                [(ngModel)]="searchValue"
              />
            </div>
            <div class="btn-group" mtDropdown>
              <button type="button" class="btn btn-secondary dropdown-toggle ">
                Параметр
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" (click)="changeCriteria('amount')"
                  >Сумма</a
                >
                <a class="dropdown-item" (click)="changeCriteria('date')"
                  >Дата</a
                >
                <a class="dropdown-item" (click)="changeCriteria('category')"
                  >Категория</a
                >
                <a class="dropdown-item" (click)="changeCriteria('type')"
                  >Тип</a
                >
              </div>
            </div>
          </div>
        </div>
        <div class="card-block">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>#</th>
                <th>Сумма</th>
                <th>Дата</th>
                <th>Категория</th>
                <th>Тип</th>
                <th class="text-lg-center">Действие</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="
                  let mtEvent of mtEvents
                    | mtEventsFilter: searchValue:searchField;
                  let i = index
                "
              >
                <th scope="row">{{ i + 1 }}</th>
                <td>{{ mtEvent.amount | number: '1.2' }}</td>
                <td>{{ mtEvent.date | mtMoment: 'DD.MM.YYYY' }}</td>
                <td>{{ mtEvent.categoryName }}</td>
                <td>
                  <span
                    [ngClass]="getMtEventCssClass(mtEvent)"
                    class="label label-danger"
                  >
                    <span *ngIf="mtEvent.type === 'income'">Доход</span>
                    <span
                      *ngIf="mtEvent.type === 'outcome'"
                      class="label label-danger"
                      >Расход</span
                    >
                  </span>
                </td>
                <td class="text-lg-center">
                  <a
                    [routerLink]="['/mt/history', mtEvent.id]"
                    class="btn btn-primary-outline"
                    >Открыть</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
