<div class="card">
  <div class="card-header bordered">
    <div class="header-block">
      <h3 class="title">Редактировать категорию</h3>
    </div>
  </div>
  <div class="card-block">
    <form #form="ngForm" (ngSubmit)="onSubmit(form)">
      <div class="form-group">
        <label for="edit-select-category" class="control-label"
          >Выберите категорию</label
        >
        <select
          id="edit-select-category"
          class="form-control"
          [(ngModel)]="currentCategoryId"
          (ngModelChange)="onCategoryChange()"
          [ngModelOptions]="{ standalone: true }"
          required
        >
          <option *ngFor="let category of categories" [value]="category.id">
            {{ category.name }}</option
          >
        </select>
      </div>
      <div
        class="form-group"
        [ngClass]="{ 'has-error': name.invalid && name.touched }"
      >
        <label class="control-label" for="edit-category-name"
          >Введите название</label
        >
        <input
          type="text"
          id="edit-category-name"
          class="form-control"
          #name="ngModel"
          name="name"
          [ngModel]="currentCategory?.name"
          required
        />
        <span class="form-help-text" *ngIf="name.invalid && name.touched"
          >Поле не может быть пустым</span
        >
      </div>
      <div
        class="form-group"
        [ngClass]="{ 'has-error': capacity.invalid && capacity.touched }"
      >
        <label class="control-label" for="edit-category-value"
          >Введите лимит</label
        >
        <input
          (keydown.-)="preventMinus()"
          type="number"
          id="edit-category-value"
          class="form-control"
          #capacity="ngModel"
          name="capacity"
          [ngModel]="currentCategory?.capacity"
          required
          min="1"
        />
        <span
          class="form-help-text"
          *ngIf="capacity.invalid && capacity.touched"
          >Поле не может быть пустым</span
        >
      </div>
      <button
        [disabled]="form.invalid || form.pristine"
        type="submit"
        class="btn btn-primary"
      >
        Редактировать
      </button>
    </form>
  </div>
</div>
