<div class="title-block">
  <h3 class="title pull-left">
    Страница истории <span class="sparkline bar"></span>
  </h3>
  <div class="pull-right">
    <button class="btn-sm btn btn-primary-outline" (click)="openFilter()">
      <i class="fa fa-filter"></i>
    </button>
  </div>
</div>

<div *ngIf="isLoaded; else loading">
  <mt-history-chart [chartData]="chartData"></mt-history-chart>

  <mt-history-events
    [mtEvents]="filteredMtEvents"
    [categories]="categories"
  ></mt-history-events>
  <div *ngIf="isFilterVisible">
    <mt-history-filter
      (accept)="onAccept($event)"
      (close)="onClose()"
      [categories]="categories"
    ></mt-history-filter>
  </div>
</div>
<ng-template #loading>
  <div class="text-center">
    <mt-content-loader></mt-content-loader>
  </div>
</ng-template>
