<section class="section">
  <div class="row">
    <div class="col-xs-12 chart-center">
<!--      todo: create pie-chart-component-->
      <ngx-charts-pie-chart
        [view]="[545, 355]"
        [results]="chartData"
        [legend]="false"
        [labels]="true"
        [doughnut]="true"
      >
      </ngx-charts-pie-chart>
    </div>
  </div>
</section>
