<div class="title-block">
  <h3 class="title">Страница записей <span class="sparkline bar"></span></h3>
</div>

<section class="section" *ngIf="isLoaded; else loading">
  <div class="row">
    <div class="col-md-6">
      <mt-add-event [categories]="categories"></mt-add-event>
    </div>
    <div class="col-md-6">
      <mt-add-category (categoryAdd)="categoryAdded($event)"></mt-add-category>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <mt-edit-category
        [categories]="categories"
        (categoryEdit)="categoryEdited($event)"
      ></mt-edit-category>
    </div>
  </div>
</section>

<ng-template #loading>
  <section class="section">
    <div class="row text-center">    <mt-content-loader></mt-content-loader>
    </div>
  </section>
</ng-template>
